@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Yaldevi&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding: 5.625rem;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

.navbar-brand {
	color: brown !important;
}

#formulario {
	padding-top: 20px;
}

#erros {
	font-size: 9px;
	color: red;
	padding: 0px 0px 10px 0px;
}

#cards {
	padding: 20px;
}
